:root {
  --box-shadow: 2px 4px 6px #000;
  --transition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(255, 255, 255, 0.137);
  font-size: 16px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  position: relative;
  width: 100vw;
  max-width: 400px;
  margin: 0 auto;
}

.heading-title {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.slider {
  position: relative;
  display: flex;
  height: 400px;

  /* overflow: hidden; */
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid gray;
}

.image {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.active {
  transform: translateX(0%);
  /* opacity: 0; */
}

.next {
  transform: translateX(100%);
  opacity: 0;
}

.last {
  transform: translateX(-100%);
  opacity: 0;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.profession {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: orange;
}

.content-text {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: gray;
  max-width: 94%;
  margin: 0 auto;
  padding: 0 1rem;
}

#btn-left {
  position: absolute;
  top: 50%;
  left: 14%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

#btn-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}
